name: Build Test and Scan

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Build the image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          tags: device-opcua:${{ github.sha }}
          load: true
      - name: Scan with Trivy
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          GITHUB_TOKEN: ${{ secrets.GHCR_TOKEN }}
          TRIVY_DISABLE_VEX_NOTICE: "true"
        with:
          image-ref: device-opcua:${{ github.sha }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          hide-progress: true
          severity: CRITICAL,HIGH,MEDIUM
          output: trivy.txt
      - name: Publish Trivy Output to Summary
        if: always()
        run: |
          if [[ -s trivy.txt ]]; then
            {
              echo "### Trivy Scan Results"
              echo ""
              echo '```terraform'
              cat trivy.txt
              echo '```'
            } >> $GITHUB_STEP_SUMMARY
          fi

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Run unit tests
        run: |
          make install-lint
          make install-mockery
          mockery
          make test >> test-results.txt
      - name: Publish results to summary
        if: always()
        run: |
          if [[ -s test-results.txt ]]; then
            {
              echo "### Test Results"
              echo ""
              echo '```sh'
              cat test-results.txt
              echo '```'
            } >> $GITHUB_STEP_SUMMARY
          fi
